<%= form_with model: @chore, remote: true do |form| %>
 
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@chore.errors.count, "Error") %> Detected
      </h3>
      <ul>
        <% @chore.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div id="task_box" class="field">
    <%= form.text_field :task, placeholder: "Enter Task Information" %>
    <%= form.submit 'Enter' %>
  </div>
 
<% end %>