<%= form_with model: @chore, local: true do |form| %>
 
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@chore.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @chore.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div id="task_box" class="field">
    <%= form.text_field :task, placeholder: "Enter Task Information" %>
    <%= form.submit 'Enter' %>
  </div>
 
<!--   <div id="task_enter">
      
  </div> -->
 
<% end %>